*{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
body {
    
    /* background-image: url("images/ummmtest_html_7795c02170f72b27.gif"); */
    background-color: blue;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
a {
    text-decoration: none;
    font-size: 48px;
    background-color: rgb(147, 147, 0);
}
h1{
    font-size: 72px;
    background-color: red;
    color: orange;
}
.navbar{
    position:fixed;
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    width: 100%;

}
.uptop{
    width: 100%;
    
    
}
.imageholder{
    border: 10px solid orange;
    height: fit-content;
    background: #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
}